* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left, purple, blue);
}

.main-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.484);
}

.main-container .campoInput {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
}

.main-container .campoInput input {
    width: 70%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    border: 0;
    outline: 0;
}

.main-container .campoInput button {
    width: 40%;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 219, 0);
    border-radius: 0 9px 9px 0;
    border: 0;
    cursor: pointer;
    transition: .2s;
}

.main-container .campoInput button:hover {
    background-color: rgb(0, 163, 0);
}

.main-container .res {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.main-container .res p {
    font-size: 20px;
    text-align: left;
    width: 140px;
}

.aparecer {
    display: block;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    background-color: gray;
    cursor: pointer;
    transition: .2s;
}

.main-container .limpar {
    display: none;
}

.main-container .aparecer:hover {
    background-color: rgb(65, 65, 65);
}