@media screen and (max-width: 660px) {
    .cabecalho {
        display: none;
    }

    .conteudo-principal {
        flex-direction: column;
        row-gap: 30px;
        margin-top: 30px;
    }

    .listagem ul .heroi {
        width: 100%;
        padding: 5px 30px;
        border-radius: 10px;
    }

    .listagem ul {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 370px) {
    .cartoes-herois {
        padding: 10px;
    }
}