@media screen and (max-width: 1074px) {
    .icones-tamanho {
        width: 140px;
    }

    .imagem-heroes-tamanho {
        width: 160px;
    }
}

@media screen and (max-width: 745px) {
    .icones-tamanho {
        width: 120px;
    }

    .imagem-heroes-tamanho {
        width: 150px;
    }

    #detalhesDePersonagem {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 560px) {
    main {
        flex-direction: column;
        width: 80%;
    }

    .icones-tamanho {
        width: 60px;
        padding: 10px 0px;
    }

    .icones {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid white;
    }

    .imagem-heroes-tamanho {
        width: 120px;
    }

    .imagens-heroes {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .icones-tamanho {
        width: 50px;
        padding: 10px 0px;
    }

    .imagem-heroes-tamanho {
        width: 100px;
    }

    #detalhesDePersonagem {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .imagem-titulo > img{
        width: 100px;
    }

    .icones-tamanho {
        width: 40px;
        padding: 10px 0px;
    }

    .imagem-heroes-tamanho {
        width: 100px;
    }

    #detalhesDePersonagem {
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {
    .imagem-titulo > img{
        width: 100px;
    }

    .icones-tamanho {
        width: 30px;
        padding: 10px 0px;
    }

    .imagem-heroes-tamanho {
        width: 100px;
    }

    #detalhesDePersonagem {
        font-size: 12px;
    }
}