@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* Paleta de cores do site */
    --preto: #000000;
    --branco: #ffffff;
    --cinzaEscuro: #443e3e;
    --cinzaClaro: #808080;
    --laranja: #ff7300;
    --roxo: #9b009b;
    --vermelho: #ff0000;

    /* Fontes do site */
    --fonteTitulo: "Archivo Black", sans-serif;
    --fontePrincipal: "Plus Jakarta Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontePrincipal);
}

/* Começo Topo */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--preto);
}

.topo .menuElogo {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.menuElogo .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuElogo .menu .material-symbols-outlined {
    color: var(--branco);
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
}

.menuElogo .menu .material-symbols-outlined:hover {
    color: var(--cinzaClaro);
    transform: scale(1.10);
}

.menuElogo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    list-style-type: none;
}

.navLinks li a {
    text-decoration: none;
    color: var(--branco);
    transition: .2s;
}

.navLinks li .contato {
    border: 1px solid var(--branco);
    padding: 10px 40px;
    border-radius: 20px;
}

.navLinks li a:hover {
    color: var(--cinzaClaro);
}

.navLinks li .contato:hover {
    color: var(--branco);
    background-color: #86868631;
}
/*Fim do Topo*/

/* ----------------------------------- */

/*Começo Cabeçalho*/
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-image: linear-gradient(100deg, #ff1f1f, #bd0000);
}

.cabecalho .texto,.imagemCabecalho {
    width: 45%;
}

.cabecalho .texto {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.texto h1 {
    font-family: var(--fonteTitulo);
}

.texto p {
    font-size: 18px;
    text-align: justify;
}

.texto button {
    background-color: transparent;
    border: 1px solid var(--preto);
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    transition: .2s;
}

.texto button:hover {
    background-color: rgba(0, 0, 0, 0.24);
    transform: scale(1.05);
}

.texto button a {
    text-decoration: none;
    color: var(--preto);
    font-size: 16px;
    font-weight: 600;
}

.cabecalho .imagemCabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho .imagemCabecalho img {
    width: 400px;
}
/*Fim do Cabeçalho*/

/* ----------------------------------- */

/*Começo Conteúdo Principal*/
h2,h3 {
    font-family: var(--fonteTitulo);
}

.conteudo-principal .principaisAspectos {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 80px 0;
}

.conteudo-principal .principaisAspectos h2 {
    text-align: center;
    font-size: 30px;
}

.principaisAspectos .aspectos {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.principaisAspectos .aspectos .aspecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: var(--branco);
    border: 2px solid var(--vermelho);
    border-radius: 0 60px 30px 60px;
    box-shadow: 15px 15px var(--vermelho);
    padding: 20px;
    width: 300px;
    height: 400px;
    transition: .2s;
}

.principaisAspectos .aspectos .aspecto:hover {
    transform: scale(1.05);
}

.aspecto h3 {
    color: var(--vermelho);
    text-align: center;
}

.aspecto p {
    text-align: justify;
    color: var(--vermelho);
}

.conteudo-principal .principaisAspectos .aspectos .aspecto img {
    width: 100px;
}

.conteudo-principal .conteudo-historia {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: var(--vermelho);
    padding: 60px 40px;
}

.conteudo-principal .conteudo-historia h2 {
    font-size: 28px;
}

.conteudo-principal .conteudo-historia h3 {
    font-size: 26px;
}

.conteudo-principal .conteudo-historia p {
    font-size: 20px;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 600px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.473);
}

.topicos {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: none;
}

.topicos b {
    font-size: 22px;
    margin-right: 5px;
}

.topicos li {
    font-size: 20px;
}

.conteudo-principal .conteudo-gameplay {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 60px 40px;
}

.conteudo-principal .conteudo-gameplay h2 {
    font-size: 28px;
}

.conteudo-principal .conteudo-gameplay h3 {
    font-size: 26px;
}

.conteudo-principal .conteudo-gameplay p {
    font-size: 20px;
}

.conteudo-principal .conteudo-atmosfera {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: var(--vermelho);
    padding: 60px 40px;
}

.conteudo-principal .conteudo-atmosfera h2 {
    font-size: 28px;
}

.conteudo-principal .conteudo-atmosfera h3 {
    font-size: 26px;
}

.conteudo-principal .conteudo-atmosfera p {
    font-size: 20px;
}

.conteudo-principal .conteudo-mundoAberto {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 60px 40px;
}

.conteudo-principal .conteudo-mundoAberto h2 {
    font-size: 28px;
}

.conteudo-principal .conteudo-mundoAberto h3 {
    font-size: 26px;
}

.conteudo-principal .conteudo-mundoAberto p {
    font-size: 20px;
}

.conteudo-principal .conteudo-gtaCompleteEdition {
    display: flex;
    flex-direction: column;
    background-color: var(--vermelho);
    row-gap: 15px;
    padding: 60px 40px;
}

.conteudo-principal .conteudo-gtaCompleteEdition h2 {
    font-size: 28px;
}

.conteudo-principal .conteudo-gtaCompleteEdition h3 {
    font-size: 26px;
}

.conteudo-principal .conteudo-gtaCompleteEdition p {
    font-size: 20px;
}

.conteudo-gtaCompleteEdition .audio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: #ff1f1f;
    padding: 20px;
    border-radius: 20px;
}

.conteudo-gtaCompleteEdition .audio h3 {
    text-align: center;
}

.conteudo-gtaCompleteEdition .gtas {
    display: flex;
    column-gap: 20px;
}

.gtas .gta1 {
    background-color: var(--roxo);
    padding: 5px 30px;
    border-radius: 30px;
    transition: .2s;
}

.gtas .gta2 {
    background-color: var(--laranja);
    padding: 5px 30px;
    border-radius: 30px;
    transition: .2s;
}

.gta1:hover,.gta2:hover {
    transform: scale(1.05);
}
/*Fim do Conteúdo Principal*/

/* ----------------------------------- */

/*Começo Entre em Contato*/
.conteudo-principal .entreContato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding: 60px 40px;
}

.entreContato .imagemContato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entreContato .imagemContato img {
    border-radius: 0 80px 40px 80px;
    box-shadow: 15px 15px var(--vermelho);
}

.entreContato .sobreContato {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 30%;
}

.sobreContato h2 {
    width: 0;
    line-height: 45px;
    font-size: 50px;
}

.sobreContato p {
    text-align: justify;
}

.redesSociais {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    list-style-type: none;
}

.redesSociais li {
    background-color: var(--vermelho);
    border-radius: 0 10px 10px 10px;
    padding: 5px;
    width: 50px;
    transition: .2s;
}

.redesSociais li:hover {
    background-color: #ff1515;
    transform: scale(1.05);
}

.redesSociais li a img {
    width: 40px;
}
/*Fim Entre em Contato*/

/* ----------------------------------- */

/*Começo do Rodapé*/
.rodape {
    background-color: var(--preto);
    padding: 20px 0;
}

.rodape p {
    color: var(--branco);
    text-align: center;
    font-size: 30px;
    font-style: italic ;
}
/*Fim do Rodapé*/