@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, #c301fe, #419abe);
    color: rgb(250, 247, 242);
}

header {
    background-image: linear-gradient(to right, #c301fe, #419abe);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.562);
    padding: 1px;
}

header > a {
    margin: 10px;
    display: flex;
    text-decoration: none;
    color: white;
}

header > a:hover {
    text-decoration: underline;
}

a > h1 {
    padding-top: 4.5px;
    padding-left: 5px;
    font-size: 20px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.520);
}

a > img {
    width: 30px;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

div > h1 {
    font-size: 80px;
    margin-right: 180px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.520);
}

div > button {
    padding: 15px;
    margin-top: 20px;
    width: 190px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #0145fe, #5f00ff);
}

button > a {
    text-decoration: none;
    color: white;
}

div > button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 183, 255, 0.349);
}

div > img {
    width: 550px;
    border-radius: 30px;
    box-shadow: 8px 8px 20px rgba(0, 81, 255, 0.11);
}
