@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-color: white;
}

.barra {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #0145fe, #5f00ff);
    padding: 10px;
}

a > img {
    width: 25%;
    border-radius: 100%;
}

input[type="search"]  {
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    border: none;
}

button {
    border-radius: 5px;
    border: none;
}

button:hover {
    transform: scale(1.05);
    background-color: lightgray;
}

button > span {
    padding: 0px 10px 15px 10px;
}

header {
    background-image: linear-gradient(to right, #0145fe, #5f00ff);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.418);
}

header > h1 {
    text-align: center;
    padding: 20px;
    color: white;
}

header > p {
    text-align: center;
    font-size: 20px;
    color: white;
    padding-bottom: 40px;
}

aside {
    background-color: darkblue;
}

.ctd-cima {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.ctd-cima > p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.ctd-cima > iframe {
    margin: auto;
}

main {
    margin: 10px 10px;
}

main > div {
    display: flex;
    margin: 5px 0px;
}

div > p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 5px;
}