@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
}

.conteudo-principal {
    background-color: #fdddb4;
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

.conteudo-principal .barra-adicionar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.barra-adicionar input[type=text] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 20px 0 0 20px;
}

.barra-adicionar .botao {
    width: 20%;
    background-color: #00c900;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    transition: .2s;
}

.barra-adicionar .botao:hover {
    background-color: #046b00;
}

.conteudo-principal .tarefas {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.tarefa {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

.radio,.editar,.remover {
    width: 10%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar {
    background-color: #2323c9;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    transition: .2s;
}

.editar:hover {
    background-color: #0000ff;
}

.remover {
    background-color: #df1818;
    color: white;
    border: 0;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: .2s;
}

.remover:hover {
    background-color: #ff0000;
}

.tarefaTexto {

    display: flex;
    align-items: center;
    width: 70%;
    padding: 5px;
    overflow-x: auto;
}

.mark {
    text-decoration: line-through;
}

.fundoVerde {
    background-color: #81ce81;
}