@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
}

html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: blue;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
    background-color: rgba(255, 255, 255, 0.267);
}

.container-principal .relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    list-style-type: none;
}

.relogio .timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    padding: 60px 30px;
    border-radius: 50%;
    color: white;
    background-color: #000000;
}

hr {
    width: 100%;
}

.timer .titulo {
    text-align: center;
    font-weight: 600;
    width: 185px;
    font-size: 25px;
}

.hora,.minutos,.segundos,.milissegundos {
    font-size: 50px;
}

.relogio .pontos {
    font-size: 40px;
    font-weight: 600;
    color: white;
}
