@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
}

header {
    background-color: rgb(0, 26, 255);
}

header > h1 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

nav {
    background-color: rgb(0, 26, 255);
    padding: 5px;
    text-align: center;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;
    background-color: rgb(224, 0, 523);
    border-radius: 5px;
    transition: .2s;
}

main {
    background-color: rgb(247, 247, 247);
    width: 90vw;
    margin: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.322);
    border-radius: 0px 0px 10px 10px;
}

main > h2 {
    font-size: 35px;
    padding: 10px 10px 0px 10px;
}

main > p {
    padding: 10px;
    text-align: justify;
    text-indent: 10px;
}

main > img {
    width: 80vw;
    display: block;
    margin: auto;
    padding: 10px;
}

main > ul {
    list-style-position: inside;
    padding: 10px;
}

main > div {
    background-color: lightblue;
    width: 90vw;
}

main > div > video {
    width: 80vw;
    padding: 25px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(0, 26, 255);
    margin-top: 25px;
}

footer > p {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
