@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    --azul: #1452fe;
    --roxo: #6b13ff;
    --rosa: #c814fe;
    --azulclaro: #4fa1c3;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e9e4c8;
    height: 100vh;
}

header {
    background-image: linear-gradient(to bottom, var(--azul), var(--rosa));
}

header > h1 {
    color: white;
    text-align: center;
    padding: 25px 10px 0px 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);
}

header > p {
    color: white;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.308);
}

nav {
    background-color: var(--rosa);
    padding: 10px;
}

nav > a {
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > a:hover {
    color: rgb(194, 191, 191);
    border-radius: 10px;
    background-color: var(--roxo);
}

main {
    background-color: whitesmoke;
    padding: 5px;
    width: 90vw;
    margin: auto;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.233);
    border-radius: 0px 0px 10px 10px;
}

main p {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
    text-align: justify;
    height: 50px;
}

main img {
    width: 42vw;
    height: 12vh;
    border-radius: 10px;
}

p > a {
    text-decoration: none;
    font-weight: bold;
}

p> a:hover {
    text-decoration: underline;
}

section > div {
    columns: 2;
    padding: 10px;
}

div {
    margin: 5px;
    background-color: rgb(224, 222, 222);
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow:2px 5px 10px rgba(0, 0, 0, 0.247); ;
}


footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: var(--azul);
    margin-top: 146px;
    padding: 5px;
    color: #e9e4c8;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);
}