* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    display: flex;
}

main {
    width: 50%;
    height: 100vh;
}

main > div {
    margin: 50px;
}

div > h1 {
    color: white;
    font-size: 60px;
    margin: 50px 0px;
}

div > p {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
}

.img {
    width: 50%;
    height: 100vh;
}

div > button {
    background-color: darkorange;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

div > button:hover {
    transform: scale(1.02);
    background-color: orange;
}