@media screen and (max-width: 812px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100%;
    }

    main > div {
        text-align: center;
    }

    .img {
        display: none;
    }
}