* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --preto: #0f0f0f;
    --cinza: #808080;
    --branco: #ffffff;
}

/* Começo do Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background-color: var(--preto);
}

.cabecalho .menuElogo {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.menuElogo span {
    font-size: 28px;
    color: var(--branco);
}

.menuElogo img {
    width: 110px;
}

.cabecalho .barra-pesquisa {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--branco);
    border-radius: 20px;
}

.barra-pesquisa input {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    color: var(--branco);
    border: 0;
    outline: 0;
    border-radius: 20px 0 0 20px;
    background-color: #ffffff11;
}

.barra-pesquisa button {
    width: 10%;
    border: 0;
    color: var(--branco);
    border-radius: 0 20px 20px 0;
    background-color: #3a3535;
}

.cabecalho .opcoes {
    display: flex;
    align-items: center;
}

.cabecalho .opcoes .secao {
    display: flex;
    column-gap: 35px;
    list-style-type: none;
}

.secao li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao li span {
    color: var(--branco);
    font-size: 28px;
}

.secao li img {
    width: 30px;
    border-radius: 20px;
}

/* Fim do Cabeçalho */