@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    --azul: #1452fe;
    --roxo: #6b13ff;
    --rosa: #c814fe;
    --azulclaro: #4fa1c3;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e9e4c8;
    height: 100vh;
}

header {
    background-image: linear-gradient(to bottom, var(--azul), var(--rosa));
}

header > h1 {
    color: white;
    text-align: center;
    padding: 25px 10px 0px 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.418);
}

header > p {
    color: white;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.418);
}

nav {
    background-color: var(--rosa);
    padding: 10px;
    text-align: center;
}

nav > a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > a:hover {
    color: rgb(238, 238, 238);
    border-radius: 10px;
    background-color: var(--roxo);
}

main {
    background-color: whitesmoke;
    padding: 10px;
    width: 90vw;
    margin: auto;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 25px;
    padding: 20px 10px 10px 10px;
    font-size: 32px;
}

main h2 {
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    font-size: 40px;
}

main p {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px 30px 10px;
    text-align: justify;
    line-height: 30px;
    text-indent: 40px;
}

main .gameloft {
    background-color: var(--azulclaro);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}

.gameloft:hover {
    text-decoration: underline;
    background-color: var(--rosa);
}

main img {
    width: 90vw;
    height: 26vh;
    display: block;
    margin: auto;
}

section {
    background-color: var(--azulclaro);
    padding: 120px 0px;
    margin: 50px -10px 50px -10px;
    position: relative;
}

section > iframe{
    position: absolute;
    width: 85vw;
    height: 25vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div {
    text-align: center;
    background-color: var(--rosa);
    border-radius: 10px;
    margin: auto;
    width: 90vw;
    height: 170px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);;
}

div > h1 {
    font-size: 30px;
    width: 84.5vw;
    color: rgb(247, 247, 247);
    background-color: var(--azul);
    border-radius: 10px 10px 0px 0px;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.281);
}

div > button {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--azulclaro);
    width: 50vw;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);
}

div > button:hover {
    transform: scale(1.05);
}

button > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

aside {
    background-color: var(--azulclaro);
    margin: 60px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.24);
}

aside > h1 {
    font-size: 25px;
    color: rgb(247, 247, 247);
    background-color: var(--roxo);
    border-radius: 10px 10px 0px 0px;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);
}

aside > ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 25px;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    margin: 20px 0px 0px 30px;
    padding-bottom: 20px;
}

li > a {
    text-decoration: none;
}

li > a:hover {
    text-decoration: underline;
    color: var(--azul);
}

article > ul {
    font-family: 'Open Sans', sans-serif;
    list-style-position: inside;
    font-weight: bold;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: var(--azul);
    margin-top: 50px;
    padding: 6px;
    color: #e9e4c8;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);
}