@charset "UTF-8";

@media screen and (min-width: 640px) and (max-width: 1279px) {
    nav {
        text-align: left;
    }

    main img {
        width: 90vw;
        height: 80vh;
        display: block;
        margin: auto;
    }

    section {
        background-color: var(--azulclaro);
        padding: 160px 0px;
        margin: 50px -10px 50px -10px;
        position: relative;
    }

    section > iframe{
        position: absolute;
        width: 68vw;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    div {
        text-align: center;
        background-color: var(--rosa);
        border-radius: 10px;
        margin: auto;
        width: 90vw;
        height: 170px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.315);;
    }

    div > h1 {
        font-size: 30px;
        width: 86.9vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    header > p {
        font-size: 1.1em;
    }

    nav > a {
        font-size: 1.3em;
    }

    main h1 {
        font-size: 2.4em;
    }

    main p {
        font-size: 1.2em;
    }

    main img {
        width: 90vw;
        height: 30vh;
        display: block;
        margin: auto;
    }

    section {
        background-color: var(--azulclaro);
        padding: 240px 0px;
        margin: 50px -10px 50px -10px;
        position: relative;
    }
    
    section > iframe{
        position: absolute;
        width: 85vw;
        height: 35vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    div > h1 {
        font-size: 38px;
        width: 87.7vw;
    }

    div > button {
        margin-top: 20px;
        padding: 12px;
        width: 35vw;
    }
}

@media screen and (min-width: 1280px) {
    header > h1 {
        font-size: 3.5em;
    }

    header > p {
        font-size: 1.2em;
    }

    nav {
        text-align: left;
    }

    nav > a {
        font-size: 1.2em;
    }

    main h1 {
        font-size: 2.4em;
    }

    main p {
        font-size: 1.2em;
    }

    main img {
        width: 80vw;
        height: 70vh;
        display: block;
        margin: auto;
    }

    section {
        background-color: var(--azulclaro);
        padding: 310px 0px;
        margin: 50px -10px 50px -10px;
        position: relative;
    }
    
    section > iframe{
        position: absolute;
        width: 75vw;
        height: 70vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    div > h1 {
        font-size: 40px;
        width: 88.5vw;
    }

    div > button {
        padding: 10px;
        width: 30vw;
        font-size: 22px;
    }
}