@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-titulo: "Poetsen One", sans-serif;
    --fonte-paragrafo: "Open Sans", sans-serif;
    --azul-escuro: rgb(3, 3, 119);
    --azul: rgb(12, 12, 241);
}

body {
    background-color: #d6d6d6;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    font-family: var(--fonte-titulo);
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #8a8a8a;
}

.sidebar .fecharbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

header > .cabecalho-topo {
    background-color: var(--azul);
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.abrir {
    display: flex;
    justify-content: center;
    align-items: center;
}

.abrirbtn > .material-symbols-outlined {
    color: white;
    font-size: 30px;
    transition: 0.5s;
}

.abrirbtn > .material-symbols-outlined:hover {
    transform: scale(1.12);
    color: rgb(182, 182, 182);
}

.nome-site > p {
    color: white;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    font-family: var(--fonte-titulo);
}

.barra-pesquisa {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.barra-pesquisa  #txt {
    border-radius: 20px 0px 0px 20px;
    width: 250px;
    height: 100%;
    padding: 10px;
    outline: none;
    font-weight: 600;
}

.barra-pesquisa  #txt:focus {
    border: 2px solid rgb(255, 6, 47);
    transform: scale(1.01);
}

.barra-pesquisa > .botao {
    width: 50px;
    height: 100%;
    border: none;
    border-radius: 0px 20px 20px 0px;
    transition: 0.3s;
}

.barra-pesquisa > .botao:hover {
    background-color: rgb(196, 196, 196);
}

.cabecalho-baixo {
    background-color: var(--azul-escuro);
    padding: 50px 40px;
}

.cabecalho-baixo p {
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 40px;
    text-align: justify;
}

main {
    display: flex;
    flex-direction: row;
}

.redes-sociais {
    flex: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.redes-sociais ul {
    list-style-type: none;
}

li > img {
    width: 45px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    transition: .5s;
}

li > img:hover {
    background-color: rgb(192, 190, 190);
    transform: scale(1.05);
}

.conteudo-principal {
    flex: 70%;
    border-left: 1px solid rgba(0, 0, 0, 0.460);
    border-right: 1px solid rgba(0, 0, 0, 0.460);
    padding: 10px 20px;
}

.conteudo-principal h1 {
    font-family: var(--fonte-titulo);
    font-size: 32px;
    margin: 15px 0px;
}

h2 {
    font-family: var(--fonte-titulo);
    font-size: 32px;
    margin: 15px 0px;
}

.conteudo-principal > p {
    font-family: var(--fonte-paragrafo);
    font-size: 17px;
    text-indent: 10px;
    text-align: justify;
    line-height: 25px;
    margin: 15px 0px;
}

.conteudo-principal > .imagem {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.imagem > img {
    width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.400);
}

.conteudo-principal > .video {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.video > video {
    width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.400);
}

.conteudo-principal > .lista {
    padding: 0px 20px;
    margin-bottom: 50px;
}

.lista  ul li {
    font-size: 20px;
    font-family: var(--fonte-paragrafo);
    font-weight: 500;
    margin-bottom: 5px;
}

.outras-noticias {
    flex: 20%;
}

.noticias-lista {
    padding: 20px 10px;
}

.noticias-lista ul {
    list-style-position: inside;
}

.noticias-lista ul li {
    margin-bottom: 10px;
    font-family: var(--fonte-paragrafo);
}

.noticias-lista ul li a {
    text-decoration: none;
    font-weight: 600;
}

.noticias-lista ul li a:hover {
    text-decoration: underline;
    color: red;
}

footer {
    background-color: var(--azul-escuro);
}

footer p {
    color: white;
    font-size: 30px;
    font-family: var(--fonte-titulo);
    text-align: center;
    padding: 40px 0px;
}