@media screen and (max-width: 980px) {
    .container {
        padding: 20px;
    }

    .hora,.minutos,.segundos,.milissegundos {
        padding: 20px;
    }

    .titulo-hora,.titulo-minuto,.titulo-segundos,.titulo-milissegundos {
        font-size: 16px;
    }
}

@media screen and (max-width: 860px) {
    .container {
        padding: 10px;
    }

    .hora,.minutos,.segundos,.milissegundos {
        padding: 10px;
    }

    .titulo-hora,.titulo-minuto,.titulo-segundos,.titulo-milissegundos {
        font-size: 15px;
    }

    p {
        font-size: 60px;
    }
    
    span {
        font-size: 30px;
    }
}

@media screen and (max-width: 760px) { /* 670*/
    .container {
        padding: 10px;
    }

    .hora,.minutos,.segundos,.milissegundos {
        padding: 10px;
    }

    p {
        font-size: 40px;
    }
    
    span {
        display: none;
    }

    #idHora,#idMinutos,#idSegundos {
        width: 100px;
    }
}

@media screen and (max-width: 635px) {
    .container {
        flex-direction: column;
        padding: 5px;
        width: 80%;
    }

    .hora,.minutos,.segundos,.milissegundos {
        margin: 4px;
        padding: 5px;
        width: 90%;
    }

    .titulo-hora,.titulo-minuto,.titulo-segundos,.titulo-milissegundos {
        font-size: 14px;
    }

    p {
        font-size: 50px;
    }
    
    span {
        display: none;
    }

    #idHora,#idMinutos,#idSegundos {
        width: 150px;
    }
}