@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    min-height: 100vh;
}

body {
    background-image: url('../images/fundo-base.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-principal {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    width: 80%;
    margin: 40px auto;
}

.conteudo-principal .cartoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao {
    display: none;
    width: 330px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
}

.cartao.selecionado {
    display: block;
}

.cartao h1 {
    font-size: 22px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.562);
}

.cartao img {
    width: 100%;
    margin-bottom: 10px;
}

.cartao .descricao h2 {
    background-color: #4e4d4d;
    padding: 5px;
}

.cartao .descricao p {
    background-color: #ffffff;
    height: 120px;
    padding: 5px;
    text-align: justify;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
}

.conteudo-principal .icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style-type: none;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 5px 20px;
    border-radius: 10px 0 0 20px;
    background-color: rgb(142, 158, 231);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
    cursor: pointer;
    transition: .2s;
}

.icone:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.719);
}

.icone .nome {
    font-weight: bold;
}

.icones ul .icone img {
    width: 45px;
    border-radius: 50%;
}

.icone.ativo {
    background-color: rgb(233, 138, 204);
}

.franklin {
    background-image: url("../images/fundo-franklin.jpg");
}

.niko {
    background-image: url("../images/fundo-niko.jpg");
}

.michael {
    background-image: url("../images/fundo-michael.jpg");
}

.tommy {
    background-image: url("../images/fundo-tommy.jpg");
}

.luis {
    background-image: url("../images/fundo-luis.jpg");
}

.trevor {
    background-image: url("../images/fundo-trevor.jpg");
}