@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
}

:root {
    /* Paletas de cores do site */
    --amarelo: #fafa00;
    --preto: #000000;
    --azul: #0000ff;
    --rosa: #f500f5;
    --branco: #ffffff;

    /* Fontes do site */
    --fonteTitulo: "Kanit", system-ui;
    --fonteParagrafo: "Exo 2", sans-serif;
}

.aparecer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.470);
    z-index: 3;
}

.termos {
    display: none;
}

.aparecer .cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cima h1 {
    font-family: var(--fonteTitulo);
}

.cima a {
    color: var(--preto);
    font-family: var(--fonteTitulo);
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
    transition: .2s;
}

.cima a:hover {
    color: rgb(37, 35, 35);
    transform: scale(1.05);
}

.aparecer p {
    font-family: var(--fonteParagrafo);
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;
}

.aparecer .autorizar label {
    font-family: var(--fonteTitulo);
    font-weight: 600;
}

.sidebar {
    background-color: black;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    transition: .5s;
}

.sidebar .texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
}

.texto p {
    color: var(--branco);
    font-family: var(--fonteTitulo);
    font-size: 25px;
    font-weight: 600;
}

.texto .fecharSidebar {
    color: var(--branco);
    font-family: var(--fonteParagrafo);
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    transition: .2s;
}

.texto .fecharSidebar:hover {
    color: rgb(207, 207, 207);
    transform: scale(1.05);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: none;
    padding: 10px;
}

ul .opcaoConfig {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 172, 172);
    padding: 5px;
    border-radius: 10px;
    transition: .2s;
}

ul .opcaoConfig:hover {
    transform: scale(1.05);
    background-color: rgb(146, 146, 146);
}

.opcaoConfig label {
    font-family: var(--fonteParagrafo);
    font-weight: 600;
    margin-right: 10px;
}

.opcaoConfig .termosServicos {
    color: black;
    font-weight: 600;
    font-family: var(--fonteParagrafo);
    text-decoration: none;
}

.navegacao {
    display: flex;
    padding: 10px;
    background-color: var(--preto);
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu, .campoPesquisa, .opcoes {
    width: 33%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .config {
    color: var(--branco);
    font-size: 35px;
    cursor: pointer;
    margin-left: 20px;
    transition: .2s;
}

.menu .config:hover {
    transform: scale(1.05);
}

.campoPesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campoPesquisa .campo {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.404);
}

.search {
    width: 10%;
    text-align: center;
    margin-top: 9px;
}

.campoInput {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: 0;
}

::placeholder {
    color: black;
}

.botao {
    width: 30%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    background-color: var(--rosa);
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-family: var(--fonteTitulo);
    transition: .2s;
}

.botao:hover {
    background-color: #e400e4;
}

.opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes ul {
    display: flex;
    column-gap: 10px;
    list-style-type: none;
}

ul .opcao {
    text-align: center;
    width: 110px;
    background-color: var(--amarelo);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

ul .opcao:hover {
    transform: scale(1.02);
    background-color: rgb(221, 221, 0);
}

.opcao .links {
    color: black;
    font-family: var(--fonteParagrafo);
    font-weight: 600;
    text-decoration: none;
}

.cabecalho {
    background-color: rgb(24, 22, 22);
    padding: 20px 80px;
}

.cabecalho h1 {
    color: var(--branco);
    font-family: var(--fonteTitulo);
    font-size: 40px;
}

.conteudo-principal {
    display: flex;
}

.conteudo {
    width: 75%;
    padding: 30px;
}

.conteudo-principal .conteudo h2 {
    color: var(--preto);
    font-family: var(--fonteTitulo);
    font-size: 30px;
    margin-bottom: 20px;
}

.conteudo-principal .conteudo p {
    color: var(--preto);
    font-size: 20px;
    font-family: var(--fonteParagrafo);
    text-align: justify;
    margin-bottom: 20px;
}

.divImagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.divImagem .imagem {
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
}

.essencia {
    list-style-type: none;
}

.divVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.divVideo .video {
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
}

section {
    background-color: var(--azul);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
}

section .seçao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    list-style-type: none;
}

.seçao h3 {
    color: var(--branco);
    font-family: var(--fonteTitulo);
    font-size: 25px;
}

.seçao .exemplos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.seçao .musicas {
    display: flex;
    column-gap: 20px;
}

.exemplos .exemplosImg {
    width: 30%;
    border-radius: 10px;
}

.seçao .botaoMostrar {
    background-color: var(--rosa);
    color: var(--branco);
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    font-family: var(--fonteParagrafo);
    cursor: pointer;
    transition: .2s;
}

.seçao .botaoMostrar:hover {
    background-color: #c000c0;
    transform: scale(1.02);
}

.exemplosImg {
    display: none;
}

.exemplos .ativo {
    display: block;
}

.conteudo-principal .artigos {
    width: 25%;
    padding: 5px;
}

.artigos {
    display: flex;
    justify-content: center;
    background-color: var(--amarelo);
    border-radius: 20px 0 0 20px;
}

.artigos .outrosArtigos {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: none;
}

.outrosArtigos .artigo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.artigo a {
    color: var(--azul);
    height: 60px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--fonteParagrafo);
    font-weight: 600;
}

.artigo a:hover {
    text-decoration: underline;
}

.artigo .imagemArtigo {
    width: 100px;
    border-radius: 10px;
}

.redesSociais {
    list-style-type: none;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--preto);
}

.redesSociais .social {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 15px;
}

.social a {
    color: var(--branco);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--fonteParagrafo);
    text-decoration: none;
    transition: .2s;
}

.social a:hover {
    color: rgb(216, 216, 216);
    text-decoration: underline;
}

.conteudo .novidade {
    background-color: var(--rosa);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.novidade p {
    font-weight: 600;
}

.noticia {
    display: flex;
    width: 70%;
    column-gap: 15px;
    background-color: var(--rosa);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.noticia a {
    font-size: 22px;
    font-weight: 600;
    color: var(--preto);
    text-align: justify;
    text-decoration: none;
    font-family: var(--fonteParagrafo);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
}

.noticia a {
    font-size: 22px;
    font-weight: 600;
    color: var(--preto);
    text-align: justify;
    text-decoration: none;
    font-family: var(--fonteParagrafo);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    transition: .2s;
}

.noticia a:hover {
    color: rgb(56, 54, 54);
    text-decoration: underline;
}

.noticia img {
    width: 200px;
    border-radius: 10px;
}

.rodape {
    background-color: var(--preto);
    padding: 15px;
}

.rodape .tituloRodape {
    color: white;
    font-size: 25px;
    font-family: var(--fonteParagrafo);
    text-align: center;
}
